.custom-link,
.custom-link:hover {
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}
.edit {
  background: green;
}
.delete {
  background: indianred;
}
.taskHeaderRow {
  width: 100%;
}
.taskItem {
  border: 1px solid rgb(108 117 125 / 50%) !important;
}
